@import url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');

 body {
  font-family: 'NanumSquareRound',sans-serif;
}

h1{
  background: #ff8bb4;
  margin: 30px;
}
p {
  background: #87ee9d;
  font-size: 1.25em;
}